<h1>
  Edit comparison table #<%= @comparison_table.id %>
</h1>

<hr>

<!-- Form comparison_table start -->
<form action="/update_comparison_table/<%= @comparison_table.id %>" method="post">
<!-- Form comparison_table end -->

  <!-- Label and input for estimated_spend start -->
  <div class="form-group">
    <label for="estimated_spend">
      Estimated spend
    </label>

    <!-- Input for estimated_spend start -->
    <input type="text" id="estimated_spend" name="estimated_spend" class="form-control" value="<%= @comparison_table.estimated_spend %>">
    <!-- Input for estimated_spend end -->
  </div>
  <!-- Label and input for estimated_spend end -->

  <!-- Label and input for user_id start -->
  <div class="form-group">
    <label for="user_id">
      User
    </label>

    <!-- Input for user_id start -->
    <%= select_tag(:user_id, options_from_collection_for_select(User.all, :id, :email, @comparison_table.user_id), :class => "form-control") %>
    <!-- Input for user_id end -->
  </div>
  <!-- Label and input for user_id end -->

  <!-- Label and input for insurance_plan_id start -->
  <div class="form-group">
    <label for="insurance_plan_id">
      Insurance plan
    </label>

    <!-- Input for insurance_plan_id start -->
    <input type="text" id="insurance_plan_id" name="insurance_plan_id" class="form-control" value="<%= @comparison_table.insurance_plan_id %>">
    <!-- Input for insurance_plan_id end -->
  </div>
  <!-- Label and input for insurance_plan_id end -->

  <button class="btn btn-block btn-outline-secondary">
    Update comparison table
  </button>
</form>

<hr>

<a href="/comparison_tables">
  Go back
</a>
