<div class="row mb-3">
  <div class="col-md-8 offset-md-2">
    <h1>
      Comparison table #<%= @comparison_table.id %> details
    </h1>

    <div class="row mb-3">
      <div class="col">
        <a href="/comparison_tables" class="btn btn-block btn-outline-secondary">
          Go back
        </a>
      </div>

      <div class="col">
        <% if current_user == @comparison_table.user %>
          <a href="/comparison_tables/<%= @comparison_table.id %>/edit" class="btn btn-block btn-sm btn-outline-secondary">
            Edit comparison_table
          </a>
        <% end %>
      </div>

      <div class="col">
        <% if current_user == @comparison_table.user %>
          <a href="/delete_comparison_table/<%= @comparison_table.id %>" class="btn btn-block btn-sm btn-outline-secondary">
            Delete comparison_table
          </a>
        <% end %>
      </div>
    </div>

    <dl>
      <dt>
        Estimated spend
      </dt>
      <dd>
        <%= @comparison_table.estimated_spend %>
      </dd>

      <dt>
        User
      </dt>
      <dd>
        <% if @comparison_table.user.present? %>
          <a href="/users/<%= @comparison_table.user_id %>">
            <%= @comparison_table.user.email %>
          </a>
        <% end %>
      </dd>

      <dt>
        Insurance plan
      </dt>
      <dd>
        <% if @comparison_table.insurance_plan.present? %>
          <a href="/insurance_plans/<%= @comparison_table.insurance_plan_id %>">
            <%= @comparison_table.insurance_plan.coinsurance_paid_by_patient %>
          </a>
        <% end %>
      </dd>

      <dt>
        Created at
      </dt>
      <dd>
        <%= time_ago_in_words(@comparison_table.created_at) %> ago
      </dd>

      <dt>
        Updated at
      </dt>
      <dd>
        <%= time_ago_in_words(@comparison_table.updated_at) %> ago
      </dd>
    </dl>
  </div>
</div>

