<% if @interested_plan.errors.any? %>
  <% @interested_plan.errors.full_messages.each do |message| %>
    <div class="alert">
      <%= message %>
    </div>
  <% end %>
<% end %>

<h1>
  Edit interested plan #<%= @interested_plan.id %>
</h1>

<hr>

<form action="/update_interested_plan/<%= @interested_plan.id %>" method="post">

  <div class="form-group">
    <label for="insurance_plan_id">
      Insurance plan
    </label>

    <%= select_tag(:insurance_plan_id, options_from_collection_for_select(InsurancePlan.all, :id, :coinsurance_paid_by_patient, @interested_plan.insurance_plan_id), :class => "form-control") %>
  </div>

  <div class="form-group">
    <label for="user_id">
      User
    </label>

    <%= select_tag(:user_id, options_from_collection_for_select(User.all, :id, :email, @interested_plan.user_id), :class => "form-control") %>
  </div>

  <button class="btn btn-block btn-outline-secondary">
    Update interested plan
  </button>
</form>

<hr>

<a href="/interested_plans">
  Go back
</a>
