<div class="row mb-3">
  <div class="col-md-12">
    <h1>
      All interested plans
    </h1>

    <a href="/interested_plans/new" class="btn btn-block btn-outline-secondary">
      Add a new interested plan
    </a>
  </div>
</div>

<!-- Ransack Code start -->

<!-- Ransack Code end -->

<!-- Location Map Code start -->

<!-- Location Map Code end -->

<hr>

<div class="row mb-3">
  <div class="col-md-12">
    <table class="table">
      <tr>
        <th>
          ID
        </th>

        <th>
          Insurance plan
        </th>

        <th>
          User
        </th>

        <th>
          Created at
        </th>

        <th>
          Updated at
        </th>

        <th>
        </th>
      </tr>

      <% @interested_plans.each do |interested_plan| %>
      <tr>
        <!-- Display interested_plan.id start -->
        <td>
          <%= interested_plan.id %>
        </td>
        <!-- Display interested_plan.id end -->

        <!-- Display interested_plan.insurance_plan_id start -->
        <td>
          <%= interested_plan.insurance_plan.coinsurance_paid_by_patient %>
        </td>
        <!-- Display interested_plan.insurance_plan_id end -->

        <!-- Display interested_plan.user_id start -->
        <td>
          <%= interested_plan.user.email %>
        </td>
        <!-- Display interested_plan.user_id end -->

        <!-- Display interested_plan.created_at start -->
        <td>
          <%= time_ago_in_words(interested_plan.created_at) %> ago
        </td>
        <!-- Display interested_plan.created_at end -->

        <!-- Display interested_plan.updated_at start -->
        <td>
          <%= time_ago_in_words(interested_plan.updated_at) %> ago
        </td>
        <!-- Display interested_plan.updated_at end -->

        <td>
          <a href="/interested_plans/<%= interested_plan.id %>">
            Show details
          </a>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>
