<%= search_form_for @q, :class => collapse_search_form, :id => "insurance_plans_filters" do |f| %>
  <p class="lead">Narrow results:</p>

  <div class="form-group">
    <%= f.label :coinsurance_paid_by_patient, "Coinsurance paid by patient" %>
    <div class="row">
      <div class='col-md-6 mb-1'>
        <%= f.text_field :coinsurance_paid_by_patient_gteq, :class => "form-control", :placeholder => "Coinsurance paid by patient greater than or equal to" %>
      </div>
      <div class='col-md-6'>
        <%= f.text_field :coinsurance_paid_by_patient_lteq, :class => "form-control", :placeholder => "Coinsurance paid by patient less than or equal to" %>
      </div>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :age_group, "Age group" %>
    <div class="row">
      <div class='col-md-6 mb-1'>
        <%= f.text_field :age_group_gteq, :class => "form-control", :placeholder => "Age group greater than or equal to" %>
      </div>
      <div class='col-md-6'>
        <%= f.text_field :age_group_lteq, :class => "form-control", :placeholder => "Age group less than or equal to" %>
      </div>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :comp_table_id, "Comp table" %>
    <div class="row">
      <div class='col-md-6 mb-1'>
        <%= f.text_field :comp_table_id_gteq, :class => "form-control", :placeholder => "Comp table greater than or equal to" %>
      </div>
      <div class='col-md-6'>
        <%= f.text_field :comp_table_id_lteq, :class => "form-control", :placeholder => "Comp table less than or equal to" %>
      </div>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :plan_name_cont, "Plan name contains" %>
    <%= f.text_field :plan_name_cont, :class => "form-control", :placeholder => "Plan name contains" %>
  </div>

  <div class="form-group">
    <%= f.label :monthly_premium, "Monthly premium" %>
    <div class="row">
      <div class='col-md-6 mb-1'>
        <%= f.text_field :monthly_premium_gteq, :class => "form-control", :placeholder => "Monthly premium greater than or equal to" %>
      </div>
      <div class='col-md-6'>
        <%= f.text_field :monthly_premium_lteq, :class => "form-control", :placeholder => "Monthly premium less than or equal to" %>
      </div>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :deductible, "Deductible" %>
    <div class="row">
      <div class='col-md-6 mb-1'>
        <%= f.text_field :deductible_gteq, :class => "form-control", :placeholder => "Deductible greater than or equal to" %>
      </div>
      <div class='col-md-6'>
        <%= f.text_field :deductible_lteq, :class => "form-control", :placeholder => "Deductible less than or equal to" %>
      </div>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :created_at, "Created at" %>
    <div class="row">
      <div class='col-md-6 mb-1'>
        <div class='input-group date' id='created_atgteqPicker' data-target-input="nearest">
          <%= f.text_field :created_at_gteq, :class => "form-control datetimepicker-input", :placeholder => "Created at greater than or equal to", :data => {:target => '#created_atgteqPicker'} %>
          <div class="input-group-append" data-target='#created_atgteqPicker' data-toggle="datetimepicker">
            <div class="input-group-text"><i class="fa fa-calendar"></i></div>
          </div>
        </div>
      </div>

      <div class='col-md-6'>
        <div class='input-group date' id='created_atlteqPicker' data-target-input="nearest">
          <%= f.text_field :created_at_lteq, :class => "form-control datetimepicker-input", :placeholder => "Created at less than or equal to", :data => {:target => '#created_atlteqPicker'} %>
          <div class="input-group-append" data-target='#created_atlteqPicker' data-toggle="datetimepicker">
            <div class="input-group-text"><i class="fa fa-calendar"></i></div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script type="text/javascript">
      $(function () {
          $('#created_atgteqPicker').datetimepicker({
              format: 'YYYY-MM-DD hh:mm:SS'
          });
          $('#created_atlteqPicker').datetimepicker({
              useCurrent: false,
              format: 'YYYY-MM-DD hh:mm:SS'
          });
          $('#created_atgteqPicker').on("dp.change", function (e) {
              $('#created_atlteqPicker').data("DateTimePicker").minDate(e.date);
          });
          $('#created_atlteqPicker').on("dp.change", function (e) {
              $('#created_atgteqPicker').data("DateTimePicker").maxDate(e.date);
          });
      });
  </script>


  <div class="form-group">
    <%= f.label :created_at, "ComparisonTable Created at" %>
    <div class="row">
      <div class='col-md-6 mb-1'>
        <div class='input-group date' id='comparison_tablesgteqcreated_atPicker' data-target-input="nearest">
          <%= f.text_field :comparison_tables_created_at_gteq, :class => "form-control datetimepicker-input", :placeholder => "ComparisonTable Created at greater than or equal to", :data => {:target => '#comparison_tablesgteqcreated_atPicker'} %>
          <div class="input-group-append" data-target='#comparison_tablesgteqcreated_atPicker' data-toggle="datetimepicker">
            <div class="input-group-text"><i class="fa fa-calendar"></i></div>
          </div>
        </div>
      </div>

      <div class='col-md-6'>
        <div class='input-group date' id='comparison_tableslteqcreated_atPicker' data-target-input="nearest">
          <%= f.text_field :comparison_tables_created_at_lteq, :class => "form-control datetimepicker-input", :placeholder => "ComparisonTable Created at less than or equal to", :data => {:target => '#comparison_tableslteqcreated_atPicker'} %>
          <div class="input-group-append" data-target='#comparison_tableslteqcreated_atPicker' data-toggle="datetimepicker">
            <div class="input-group-text"><i class="fa fa-calendar"></i></div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script type="text/javascript">
      $(function () {
          $('#comparison_tablesgteqcreated_atPicker').datetimepicker({
              format: 'YYYY-MM-DD hh:mm:SS'
          });
          $('#comparison_tableslteqcreated_atPicker').datetimepicker({
              useCurrent: false,
              format: 'YYYY-MM-DD hh:mm:SS'
          });
          $('#comparison_tablesgteqcreated_atPicker').on("dp.change", function (e) {
              $('#comparison_tableslteqcreated_atPicker').data("DateTimePicker").minDate(e.date);
          });
          $('#comparison_tableslteqcreated_atPicker').on("dp.change", function (e) {
              $('#comparison_tablesgteqcreated_atPicker').data("DateTimePicker").maxDate(e.date);
          });
      });
  </script>

  <div class="form-group">
    <%= f.label :users_email_cont, "User email contains" %>
    <%= f.text_field :users_email_cont, :class => "form-control", :placeholder => "User email contains" %>
  </div>

  <div class="form-group">
    <%= f.label :applicants_email_cont, "User email contains" %>
    <%= f.text_field :applicants_email_cont, :class => "form-control", :placeholder => "User email contains" %>
  </div>


  <%= f.submit :class => "btn btn-primary btn-block mb-1" %>

  <a href="/insurance_plans" class="btn btn-outline-secondary btn-block mb-1">Clear filters</a>

<% end %>

<a class="btn btn-outline-secondary btn-block mb-1" data-toggle="collapse" href="#insurance_plans_filters">
  Show filters
</a>
