<div class="row mb-3">
  <div class="col-md-8 offset-md-2">
    <h1>
      Insurance plan #<%= @insurance_plan.id %> details
    </h1>

    <div class="row mb-3">
      <div class="col">
        <a href="/insurance_plans" class="btn btn-block btn-outline-secondary">
          Go back
        </a>
      </div>

      <div class="col">
        <a href="/insurance_plans/<%= @insurance_plan.id %>/edit" class="btn btn-block btn-outline-secondary">
          Edit insurance plan
        </a>
      </div>

      <div class="col">
        <a href="/delete_insurance_plan/<%= @insurance_plan.id %>" class="btn btn-block btn-outline-secondary">
          Delete insurance plan
        </a>
      </div>
    </div>

    <dl>
      <dt>
        Coinsurance paid by patient
      </dt>
      <dd>
        <%= @insurance_plan.coinsurance_paid_by_patient %>
      </dd>

      <dt>
        Deductible
      </dt>
      <dd>
        <%= @insurance_plan.deductible %>
      </dd>

      <dt>
        Monthly premium
      </dt>
      <dd>
        <%= @insurance_plan.monthly_premium %>
      </dd>

      <dt>
        Plan name
      </dt>
      <dd>
        <%= @insurance_plan.plan_name %>
      </dd>

      <dt>
        Age group
      </dt>
      <dd>
        <%= @insurance_plan.age_group %>
      </dd>

      <dt>
        Smoker status
      </dt>
      <dd>
        <%= @insurance_plan.smoker_status %>
      </dd>

      <dt>
        Created at
      </dt>
      <dd>
        <%= time_ago_in_words(@insurance_plan.created_at) %> ago
      </dd>

      <dt>
        Updated at
      </dt>
      <dd>
        <%= time_ago_in_words(@insurance_plan.updated_at) %> ago
      </dd>
    </dl>
  </div>
</div>

<div class="row mb-3">
  <div class="col-md-8 offset-md-2">
    <%= render partial: "insurance_plan_templates/insurance_plan_user_plans" %>
  </div>
</div>

<div class="row mb-3">
  <div class="col-md-8 offset-md-2">
    <%= render partial: "insurance_plan_templates/insurance_plan_applicants" %>
  </div>
</div>
